html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #cacaca;
    padding: 0;
}

.background {
    background-color: #1b5f00;
}

.logo img {
    font-family: "Michroma", sans-serif;
    height: 150px;
    width: auto;
}

.hours {
    font-size: 15px;
    text-align: center;
    background-color: orange;
    padding: 1px;
}

.select_menu_layout {
    margin: 30px;
    text-align: center;
    border-radius: 20px;
    font-family: "Michroma", sans-serif;
    font-size: 18px;
}

.layouts {
    display: flex;
    justify-content: center;
}

.layout {
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    font-family: "Michroma", sans-serif;
    font-size: 18px;
    background-color: #2e9d01;
    padding: 15px;
    height: auto;
    text-decoration: none;
    color: black;
}

.layout:hover {
    background-color: #258001;
    text-decoration: none;
    color: black;
}

.layout a, .secret a {
    color: black;
    text-decoration: none;
}

.secret {
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    font-family: "Michroma", sans-serif;
    font-size: 18px;
    background-color: #ff6644;
    padding: 15px;
    height: auto;
}

.secret:hover{
    background-color: #ff4e26;
}

@media (max-width: 699px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        height: 120px;
        width: auto;
    }

    .rick img {
        height: 200px;
        width: auto;
    }

    .layouts {
        flex-direction: column;
        align-items: center;
    }

    .layout {
        width: 90%;
        margin: 15px;
    }
}
