.ccrfont {
    color: rgba(255, 55, 0, 0.737);
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.font{
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 2px 2px rgb(255, 85, 0);
}

.hours {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    font-family: 'Orbitron', sans-serif;
}

.navbutton, .nav, #backtotop{
    background-color: #ff6726;
    border:solid 1px;
    border-radius: 10px;
    color:black;
    padding:2px 20px;
    font-size:15px;   
}

.maps {
    background-color: cadetblue;
}

.navbutton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbutton, .nav{
	font-family: "Orbitron"; 
    box-shadow: 0px 0px 2px 2px rgb (0,0,0);
    min-width: auto;
    min-height: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative; /* Establishes a positioning context */
    cursor: crosshair;
}

.map {
    border: hidden;
    width: 100%;
}

.newitems {
    position: absolute; /* Enables absolute positioning */
    top: 50px; /* Change this value to move the text box vertically */
    left:80%;
    min-height: 100px;
    background-color:rgb(71, 144, 253);
    padding: 10px;
    box-shadow: 0px 0px 2px 2px rgb (0,0,0);
    text-shadow: 2px 2px 2px rgb(0, 68, 255);
    border-style: dotted;
}

.logo {
    position: absolute; /* Enables absolute positioning */
    top: -175px; /* Change this value to move the text box vertically */
    left: 80px; /* Change this value to move the text box horizontally */
    border:none;
    font-size: 200px;
    color: green;
    text-shadow: 5px 5px 5px gold;
}

.newitems {
    border-radius: 30px;
}

.stickytop {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-shadow: 1px 1px 1px rgb(251, 255, 0);
    font-family: 'Playfair Display';
  }

#warning {
    background-color: yellow;
    font-family: 'Playfair Display';
}

#est {
    size: 5px;
}

.appsection, .soupsection, .ricesection, .chowmeinsection, .chopsueysection, .chowmeifunsection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lomeinsection, .eggfooyoungsection, .sweetandsoursection, .porksection, .beefsection, .chickensection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}


.seafoodsection, .traysection, .dietsection, .sidesection, .friedsection{
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.combosection{
    border:3px solid;
    border-color: rgb(255, 68, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lunchcombosection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.item{
    font-family: 'Playfair Display';
}

.notice{
    background-color: red;
    font-size:50px;
}

table {
    width:100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #ff4d00;
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
}
