#ccrfont {
    color: rgba(255, 55, 0, 0.737);
    font-family: 'Cal Sans', sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}



.font{
    color: rgb(8, 71, 17);
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}


.content-container{
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: flex-start !important;
}

.left{
  width: 20%;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  border: none;
}

.left > *{
  margin-block: 0 !important;
  align-self: flex-start !important;
}

.right{
    width: 90%;
    display:flex;
    border: #000000 3px solid;
    border:none;
    align-items: flex-start;
    margin: 0 auto;
}

.autd {
    font-size: 25px;
    color: rgb(0, 37, 129);
}

.Remindersheader{
    color:black;
    background-color: rgb(255, 115, 115);
    font-size: 40px;
    border-top:dashed 10px;
    border-bottom:dashed 10px;
    border-width: 5px;
}

#logo {
    font-size: 100px;
    color: rgb(0, 109, 0);
    text-shadow: 5px 5px 5px gold;
}

.phone {
    color:black;
    font-size: 30px;
}

.Reminders{
    color:black;
    font-size: 30px;
}

.hours {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    font-family: 'Orbitron', sans-serif;
}

.navbutton{
    background-color: #ffffff90;
    border-bottom: solid 1px;
    color:black;
    padding:5px 5px;
    font-size:15px;   
}

.nav, #backtotop{
    background-color: #ffffff;
    border:solid 1px;
    border-radius: 10px;
    color:black;
    padding:3px 20px;
    font-size:15px;   
}

.maps {
    background-color: cadetblue;
    border-top:solid 1px;
    border-bottom: solid 1px;
    border-width: 3px;
}

.navbutton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbutton, .nav{
	font-family: "Orbitron"; 
    box-shadow: 0px 0px 2px 2px rgb (0,0,0);
    min-width: auto;
    min-height: auto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative; /* Establishes a positioning context */
    cursor: crosshair;
}

.map {
    border: hidden;
    width: 100%;
}


.stickytop {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-family: 'Playfair Display';
  }

#warning {
    background-color: yellow;
    font-family: 'Playfair Display';
}

#est {
    size: 5px;
}

.appsection, .soupsection, .ricesection, .chowmeinsection, .chopsueysection, .chowmeifunsection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lomeinsection, .eggfooyoungsection, .sweetandsoursection, .porksection, .beefsection, .chickensection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}


.seafoodsection, .traysection, .dietsection, .sidesection, .friedsection{
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.combosection{
    border:3px solid;
    border-color: rgb(255, 68, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lunchcombosection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.item{
    font-family: 'Playfair Display';
}

.notice{
    background-color: red;
    font-size:50px;
}

table {
    width:100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #ff4d00;
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
}
