.chefchanrestaurant {
    color: red;
    margin: 15px;
    font-size: 50px;
    padding: 15px;
    font-family: 'Cal Sans', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.hours {
    background-color: rgba(255, 162, 0, 0.93);
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
}

.sloganandaddress{
    color: rgb(8, 100, 8);
    font-size: 25px;
}

.logo{
    text-shadow: 2px 2px 2px gold;
}

.phone{
    font-size: 14px;
}

.header{
    background-color: rgb(235, 235, 235);
    border-radius: 20px;

}

.reminder{
    border: solid 2px;
    border-radius: 10px;
}

th {
    background-color: rgb(235, 235, 235);
    padding: 8px;
    text-align: center;
    font-size: 20px;
}

td {
    padding: 8px;
    text-align: left;
    font-size: 20px;
}

.preferredmenubutton{
    background-color: rgba(50, 213, 0, 0.93);
    border-radius: 5px;
    border:solid 2px black;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

.preferredmenubutton:hover{
    background-color: rgba(58, 247, 0, 0.93);
    border-radius: 5px;
    border:dotted 2px black;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

.stickytop {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Playfair Display';
  }

 .stickytop {
  position: sticky;
  top: 0;
  z-index: 100;
 }

#warning {
    background-color: yellow;
    font-family: 'Playfair Display';
}

#est {
    size: 5px;
}

.appsection, .soupsection, .ricesection, .chowmeinsection, .chopsueysection, .chowmeifunsection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lomeinsection, .eggfooyoungsection, .sweetandsoursection, .porksection, .beefsection, .chickensection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}


.seafoodsection, .traysection, .dietsection, .sidesection, .friedsection{
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.combosection{
    border:3px solid;
    border-color: rgb(255, 68, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.lunchcombosection {
    border:3px solid;
    border-color: rgb(255, 0, 0);
    width: 75%;
    height: max-content;
    text-align: left;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    background-color: aliceblue;
}

.item{
    font-family: 'Playfair Display';
}

.notice{
    background-color: red;
}

table {
    width:100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #ff4d00;
    padding: 5px;
    border: 1px solid #000000;
    text-align: center;
}
.navbutton{
    background-color: #ffffff90;
    border-bottom: solid 1px;
    color:black;
    padding:5px 5px;
    font-size:15px;   
}

.nav{
    color:black;
    padding:3px 9px;
    font-size:20px;   
    text-decoration: none;
    font-family: "Orbitron"; 
    background-color: rgba(0, 128, 0, 0.852);
    border-radius: 10px;
}

.nav:hover{
    background-color: rgba(0, 214, 0, 0.852);
}

.alert{
    width: 95%;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
}

